*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Georgia;
}
section{
    color: rgb(30, 30, 30);
}
.nav {
    position: fixed;
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
    background-color: rgba(196, 196, 196, 0.13);
    display: grid;
    grid-template-columns: 25% auto;
    gap: 20%;
}
.nav__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__link {
    text-decoration: none;
    color: #040404;
    font-weight: 600;
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
}
.nav__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 2px;
    border-radius: 2px;
    background: rgb(5, 5, 5);
    transition: width 200ms ease-in-out;
}
.nav__link.nav--current::after,.nav__link:hover::after {
    width: 100%;
}
.bagimage{
    background-image: url(homepagep2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}
.containanu{
    display: block;
    width: 500px;
    height: 400px;
    margin-right: 60px;
    margin-top: -140px;
    border: 1px;
    border-radius: 10px;
    background-color: transparent;
    float: right;
}
.solid{
    width: 78%;
    border-top: 2px solid rgba(168, 168, 168, 0.432);
    margin-top: 30px;
}
.aboutcolumn {
    float: left;
    width: 44%;
    padding: 10px;
    height: 340px;
    margin-left: 50px;
}
.aboutrow:after {
    content: "";
    display: table;
    clear: both;
}
.timeline {
    position: relative;
    background-color: transparent;
    width: 60%;
    height: 570px;
    margin: 0 auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container {
    padding: 5px 40px;
    position: relative;
    background-color: rgb(179, 179, 179);
    margin-top: 30px;
    width: 50%;
    height: 100px;
}
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
} 
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.right::after {
    left: -16px;
}
.content {
    padding: 2px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
} 
.achievecolumn_1{
    float: left;
    width: 30%;
    height: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}
.achieverow_1:after{
    content: "";
    display: table;
    clear: both;
}
#skillflex{
    display: flex;
    width: 99%;
    height: 500px;
    margin-top: 30px;
    gap: 50px;
}
.skillcontainer {
    width: 100%;
    margin: 20px 15px 20px 5px;
    background-color: rgb(226, 226, 226);
}
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}  
.ui-widgets {
    position: relative;
    display: inline-block;
    left: 50;
    top: -10;
    width: 160px;
    height: 160px;
    border-radius: 145px;
    margin: 25px;
    border: 15px solid palegreen;
    box-shadow: inset 0 0 2px grey;
    border-bottom-color: white;
    text-align: center;
}
.ui-widgets .ui-values {
    top: 45px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 32px;
}
.ui-widgets .ui-labels {
    left: 0;
    bottom: -35px;
    text-shadow: 0 0 3px grey;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 17px;
}
.detailproject img {
    border: 1px;
    margin:15px 50px;
}
.description {
    width: 355px;
    height: 220px;
    padding: 15px;
    margin-top: -24px;
    margin-left: 48px;
    text-align: center;
}
.responsive {
    padding: 16px 6px;
    float: left;
    width: 33%;
}
@media only screen and (max-width: 700px) {
.responsive {
    width: 50%;
    margin: 6px 0px;
}
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.expflex{
    display: flex;
    width: 95%;
    height: 350px;
    margin-top: 10px;
    margin-left: 30px;
    gap: 20px;
    background-color: rgba(250, 250, 250, 0.3);
}
.knowflex{
    display: flex;
    padding: 5px 30px;
    margin-top: 1px;
    margin-left: 10px;
    gap: 50px;
}
.resume{
    width: 180px;
    height: 40px;
    text-align: center;
    border: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(165, 161, 161,0.3);
}
.contact{
    display: flex;
    width: 99%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.3);
    margin: 30px 7px;
    gap: 30px;
    text-align: center;
}
.mecontainer {
    width:93%;
    margin:0 25px;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}
input[type=text],textarea {
    padding: 12px;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px 20px;
    resize: vertical;
}
input[type=tel]{
    width: 82%;
    padding: 12px;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    box-sizing: border-box;
    margin:20px 5px;
    resize: vertical;
}
input[type=submit] {
    background-color: rgb(3, 170, 3);
    color: white;
    font-size: 15px;
    padding: 10px 10px;
    text-align: center;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.contfooter{
    width: 99.5%;
    height: 120px;
    margin: 0 5px;
    background-color: rgba(196, 196, 196, 0.33);;
}
